<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Modification contact</title>
    <link rel="stylesheet" href="../static/css/Style.css" th:href="@{/css/Style.css}">
</head>
<body>

<div class="enveloppe">
    <h1>Modification contact</h1>
    <div class="formBox">
        <form action="#" th:action="@{/contact/alter}" th:object="${newContact}" method="POST">
            <input type="hidden" th:field="*{idC}" required th:value="*{idC}">
            <label>Prénom :</label>
            <input type="text" th:field="*{prenomC}" required th:value="*{prenomC}">
            <p th:if="${#fields.hasErrors('prenomC')}" th:errors="*{prenomC}">Name Error</p>
            <label>Nom :</label>
            <input type="text" th:field="*{nomC}" required th:value="*{nomC}">
            <p th:if="${#fields.hasErrors('nomC')}" th:errors="*{nomC}">Name Error</p>
            <label>Adresse :</label>
            <input type="text" th:field="*{adresseC}" required th:value="*{adresseC}">
            <p th:if="${#fields.hasErrors('adresseC')}" th:errors="*{adresseC}">Name Error</p>
            <input type="submit" value="Enregistrer">
        </form>
    </div>
</div>
</body>
</html>