<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/css/Style.css" th:href="@{/css/Style.css}">
</head>
<body>

    <div class="enveloppe">
        <h1>Contacts</h1>
        <div class="formBox">
            <form action="#" th:action="@{/contact}" th:object="${newContact}" method="POST">
                <label>Prénom :</label>
                <input type="text" th:field="*{prenomC}" required>
                <p th:if="${#fields.hasErrors('prenomC')}" th:errors="*{prenomC}">Name Error</p>
                <label>Nom :</label>
                <input type="text" th:field="*{nomC}" required>
                <p th:if="${#fields.hasErrors('nomC')}" th:errors="*{nomC}">Name Error</p>
                <label>Adresse :</label>
                <input type="text" th:field="*{adresseC}" required>
                <p th:if="${#fields.hasErrors('adresseC')}" th:errors="*{adresseC}">Name Error</p>
                <input type="submit" value="Enregistrer">
            </form>
        </div>
        <button><a href="/mail">Ajouter adresse Mail</a></button>

        <div class="contactBox" th:each="contact:${contactList}">
            <p class="nom" th:text="${contact.idC}"></p>
            <p class="nom" th:text="${contact.nomC}"></p>
            <p class="prenom" th:text="${contact.prenomC}"></p>
            <p class="adresse" th:text="${contact.adresseC}"></p>
            <p class="mail">Mails :</p>
            <tr th:each="mail: ${contact.mails}">
                <td class="mail" th:text="${mail.libelleM}" /></br>
            </tr>
            <button><a href="/ContactModif">Modifier</a></button>
            <form th:action="'/contact/delete/'+${contact.idC}" method="GET"><input type="submit" value="Supprimer"></form>
        </div>
    </div>
</body>
</html>