<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
        <h1 style="text-align: center">Login</h1>
        <!-- <link rel="stylesheet" href="../static/css/Style.css" th:href="@{/css/Style.css}"> -->
    </head>
    <body style="background-color: wheat">
        <div th:if="${param.error}">
            <p style="text-align: center">Mauvais identifiants</p>
        </div>
        <div th:if="${param.logout}">
            <p style="text-align: center">Vous êtes bien déconnecté.</p>
        </div>
        <form style="width: 60%; margin: 40px auto" th:action="@{/login}" method="post">
            <div style="text-align: center; margin-top: 15%"><label> Nom : <input type="text" name="username"/> </label>
            <label> Mot de passe : <input type="password" name="password"/> </label></div>
            <div style="margin-left: 48%; margin-top: 1%"><input type="submit" value="Connexion"/></div>
        </form>
    </body>
</html>